<h1>Finanacial Data Analysis</h1>

<button (click)="getXeroData()">Fetch Invoices from Xero</button>

<p *ngIf="isFetchingData"><em>Loading...</em></p>
<ng-container *ngIf="invoices">
  <h3 class="health-status">Health Status: {{ healthStatus ? "Yes" : "No" }}</h3>
  <br />
  <h3><u><b> Invoices</b></u></h3>
  <table class='table'>
    <thead>
      <tr>
        <th>Customer Name</th>
        <th>Issue Date</th>
        <th>Amount</th>
        <th>Outstanding Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let invoice of invoices">
        <td>{{ invoice.customerName }}</td>
        <td>{{ invoice.issueDate | date : 'd/MM/yyyy' }} {{ invoice.isIssueDateOld ? "*" : "" }} </td>
        <td>{{ invoice.amount | currency }}</td>
        <td>{{ invoice.outstandingAmount | currency }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td>{{ totalAmount  | currency }} {{ totalAmount < 100000 ? "*" : "" }}</td>
        <td>{{ totalOutstandingAmount  | currency }} </td>
      </tr>
    </tfoot>
  </table>
</ng-container>
